*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

.container{
    position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 80px;
  color: white;
  letter-spacing: 10px;
}
 
.group{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

button{
    position: relative;
    width: 200px;
    height: 60px;
    background: transparent;
    font-size: 18px;
    letter-spacing: 3px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.4s ease-in-out all
    
}
button:hover{
    background: white;
    color: black;
}
     
  
 
button[disabled="disabled"]{
    color: gray;
    border-color: gray;
    
}
 
button[disabled="disabled"]:hover{
    
      background: transparent;
      cursor: default;
}